<div class="category_head" >
    <div class="category_head_page_title">{{global.page.title}}</div>
{#    <div class="category_head_breadcrumbs">#}
{#        <a href="#">Главная</a>#}
{#        <a href="#">Видеокаталог</a>#}
{#    </div>#}



</div>