<div class="line">
    <div class="label {% if input_info.cs_required %}required{% endif %}">
        {{ input_info.cs_title }}:
    </div>
    <div class="value">
        <input name="{{ input_info.cs_key }}" class="element {% if input_info.cs_required %}required{% endif %}" type="checkbox" {% if values[input_info.cs_key] %}checked="checked"{% endif %}>
        {% if input_info.cs_caption %}
            <div class="caption">{{ input_info.cs_caption }}</div>
        {% endif %}
    </div>
</div>