{% extends "manager/global.html.twig" %}
{% block content %}
    <div class="form">
        <div class="fields">
            <div class="line">
                <div class="label required">
                    Заголовок:
                </div>
                <div class="value">
                    <input type="text" class="element translit_from" name="catalog_title" value="{{ info.catalog_title }}">
                </div>
            </div>
            <div class="line">
                <div class="label required">
                    URL:
                </div>
                <div class="value">
                    <input type="text" class="element translit_to" name="catalog_url" value="{{ info.catalog_url }}">
                </div>
            </div>
            <div class="line">
                <div class="label required">
                    Фотография:
                </div>
                <div class="value">
                    {% set image_data = image_data1 %}
                    {% include 'files/upload_image.html.twig' %}
                </div>
            </div>

            {% if edit==1 %}
                <input type="hidden" class="element" name="action" value="process_edit">
                <input type="hidden" class="element" name="cat_group_id" value="{{ info.catalog_id }}">
            {% else %}
                <input type="hidden" class="element" name="action" value="process_add">
            {% endif %}
        </div>
        <div class="submit btn btn-primary">
            {% if edit==1 %}
                Сохранить
            {% else %}
                Добавить
            {% endif %}
        </div>
    </div>
{% endblock %}
