{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="slider-nav__arrow slider-nav__arrow_prev">
    <div class="slider-nav__icon slider-nav__icon_rotate">
        {{ Svg.icon('rarrow', 1) }}
    </div>
</div>
