<td class="object_status  {% if object_status!=1%}no{% else %}yes{% endif %}" data-value="{{ object_id }}">
  <span class="badge badge-danger">нет</span>
  <span class="badge badge-success">да</span>
</td>