<div class="reception">
  <fiedset class="reception__row1">

    <input id="namespace2__1" type="radio" name="namespace2" checked>
    <sub data-class-unit="radio"></sub>
    <label for="namespace2__1" class="name">Email</label>


    <small class="separator">или</small>

    <input id="namespace2__2" type="radio" name="namespace2">
    <sub data-class-unit="radio"></sub>
    <label for="namespace2__2" class="name">Телефон</label>

  </fiedset>
  <!-- 2 -->
  <fiedset class="reception__row2">
    <div class="input-container" data-class-unit="input_type1">
      <input type="text" data-class-unit="input-field_type1">
    </div>
  </fiedset>

  <fiedset class="reception__row3">
    <div class="reception__row3-header">
      <label for="password" class="" data-class-text="group1_bold">
        Пароль
      </label>
      <a href="#link" class="item-title-wrapper" data-class-unit="link_type3_active">
        <span class="item-info__row1 item-title" data-class-unit="link-text_type3_mod3_active">
          Забыли пароль?
        </span>
      </a>
    </div>
    <div class="input-container" data-class-unit="input_type1">
      <input id="password" type="password" data-class-unit="input-field_type1">
    </div>
  </fiedset>




  <div class="reception__row4 reception__buttonset" data-class-unit="buttonset_type1">
    <span class="button1" data-class-unit="button_type1_theme1_mod1">
      Войти
    </span>
    <i data-class-unit="separator_type1"></i>
    <span class="button2" data-class-unit="button_type2_theme2_compare">
      Регистрация
    </span>
  </div>                        
</div>