<div class="search" data-class-space="flex max112 min60" data-url="{{ global.base_url }}/search/" data-insert=".search_result" data-one="1" data-callback="SearchDone">
  <input type="hidden" value="" name="cat_id" class="element">
  <span class="select-categories" data-class-unit="button_type2_theme2_left dropdown" data-jq-dropdown="#dropdown_cat_search">
    <small class="sort-items__current-name" >
      Фильтр по категории
    </small>
    <div id="dropdown_cat_search" class="jq-dropdown-scroll jq-dropdown-relative jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right">
      <ul class="jq-dropdown-menu" data-class-unit="list_type2">

      </ul>
    </div>

  </span>
  <div class="search-input-wrapper">
    <div class="search-input" data-class-unit="input_type1_left">
      <input type="text" name="q" data-class-unit="input-field_type1_left" class="element" placeholder="Искать товар (например, Apple MacBook или MN8X2RU/A)">
      <input type="hidden" class="element" value="search" name="action">
    </div>

    <div class="search-list-wrapper search_result">

    </div>
    <button class="search-button" data-class-unit="button_type2_theme2_right"></button>
  </div>
</div>
