<div class="block_item bg_dark1">
    <div class="block_item__title">
        Вопросы и ответы
    </div>
    <div class="block_item__before"></div>
    <div class="block_item__content">
        <div class="container">
            {% include 'frontend/components/faq/faqs_list.twig' %}
        </div>
    </div>

</div>