.materials_list{
  display: flex;
  flex-wrap: wrap;
  @include  media("<510px"){
    justify-content: center;
  }
  &__item{
    padding: 31px;
    width: 362px;
    height: 512px;
    @include  media("<1200px"){
      width: 300px;
      height: 400px;
    }
    @include  media("<710px"){
      padding: 20px;
      width: 290px;
      height: 370px;
    }
    @include  media("<610px"){
      padding: 10px;
      width: 240px;
      height: 330px;
    }
  }
}

.material_item{
  $root : &;
  display: block;
  background-color: #1F2128;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
  @include  media("<1200px"){
    width: 250px;
    height: 350px;
    font-size: 18px;
  }
  @include  media("<710px"){
    width: 240px;
    height: 340px;
    font-size: 18px;
  }
  @include  media("<610px"){
    width: 230px;
    height: 320px;
    font-size: 16px;
  }

  &_top{
    img {
      height: 100%;
      width: 100%;object-fit: cover;
    }

    height: 70%;

    padding: 0;
    margin: 0;
  }
  &_bottom {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    display: flex;
    height: 30%;
    position: relative;
    align-items: center;
    justify-content: center;
    @include  media("<1200px"){

      font-size: 16px;
    }
    &:before{
      content:'';
      position: absolute;
      top: 15px;
      left: calc(50% - 25px);
      width: 50px;
      border: 2px solid #E12329;
      z-index: 1;
    }
  }
  &:hover{
    #{$root}_bottom{

      color: #f28402;
    }
    filter: drop-shadow(0px 0px 50px rgba(242, 132, 2, 0.5));
  }
}

.news_list_wrapper{
  padding: 150px 0 100px;
  margin: 0 -31px;
  @include media('<710px'){
    padding: 80px 0 50px;
    margin: 0 -20px;
  }
}