<div class="container">
    <div class="materials_list">
        {% for item in articles %}
            <div class="materials_list__item">
            {% include 'frontend/components/materials/material_item.twig'%}
            </div>
        {% endfor %}
    </div>
</div>