
<a href="{{ item.content_full_url }}" class="material_item">
    <div class="material_item_top">
        <img src="{{ item.big_thumb }}" alt="">
    </div>
    <div class="material_item_bottom">
        <div class="material_item_title">
            {{ item.content_title }}
        </div>
    </div>
</a>