<a href="#" class="material_item">
    <div class="material_item_top">
        <img src="/assets/images/static/way2.jpg" alt="">
    </div>
    <div class="material_item_bottom">Перетяжка элементов салона</div>
</a>