<div class="container">
    <div class="materials_list">
        {% for item in 1..3 %}
            {% include 'frontend/components/materials/material_item.twig'%}
        {% endfor %}
    </div>
</div>