.header:after {
  content: '';
  position: absolute;
  z-index: 500;
  bottom: 0;
  left: 0;
  right: 0;
  height: 175px;
  background: linear-gradient(
                  0deg, #272931 0%, rgba(39, 41, 49, 0) 100%);
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

}
.header{
  background-image: url(/assets/images/static/mainpage_bg.jpg);
  width: 100%;
  height: 100%;
  padding: 0;
  background-position-y: -130px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.header_links {
  &_wrapper {
    display: flex;
    justify-content: space-between;
  }

  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  width: 100%;

  &__socials {
    display: flex;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    width: 36px;
    height: 36px;
    padding: 9.5px 6px;
    border: 1px solid rgba(204, 204, 204, .3);
    display: flex;
    border-radius: 50%;
    transition: .2s all;

    &:hover {
      border: 1px solid #F28402;
      background-color: #F28402;

      .svg-icon svg * {
        fill: #fff;
      }
    }

    &_phone {
      height: 36px;
      line-height: 36px;
      margin-left: 15px;
      font-weight: 400;
      font-size: 14px;
      color: #ccc;

      &:hover {
        color: #F28402;

      }
    }
  }
}

.main_menu {
  height: 100px;
  border-bottom: 1px solid #686666;

  &_links {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
    height: 100px;
  }

  &_link {
    &_cabinet{
      color: #F28402;
      border: 1px solid #F28402;
      border-radius: 40px;
      font-weight: 200;
      font-size: 12px;
      padding: 4px 10px;
      transition: .2s all;
      display: flex;
      align-items: center;
      font-family: $font-family__main;
      //height: 25px;
      span{
        margin-left: 5px;
      }
      a{
        font-family: $font-family__main;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover{
        background: #F28402;
        svg * {
          fill: #fff;
        }
        *{
          color: #fff;
        }
      }
    }
    $root: &;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    transition: .2s all;
    position: relative;
    font-family: $font-family__main;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #F28402;
      opacity: 0;
      transition: .2s all;
    }

    &:hover {
      color: #F28402;
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }

  }
}