<div class="first_screen">

    <h1>ВИДЕОТЕКА ИНТЕРЬЕРНОГО ТЮНИНГА</h1>
    <p>
        Каталог видеознаний от мастеров тюнинг-ателье с десятилетним опытом.
    </p>

    <a class="first_screen_button">
        Тарифы
    </a>
</div>
