<div class="first_screen">

    <h1>{{ mainpage.main_text }}</h1>
    <p style="margin-top: 100px;">
        {{ mainpage.main_desc }}
    </p>
    {% if not mainpage.main_button_url %}
        <a href="{{ mainpage.main_button_url }}" class="first_screen_button">
            {{ mainpage.main_button_title }}
        </a>
    {% endif %}
</div>