{% extends "global.html.twig" %}
{% block content %}
    <div class="main__registration">
        <div class="container">
            {% include 'global/message.html.twig'%}
        </div>
    </div>
{% endblock %}
