{% extends "global.html.twig" %}
{% block content %}
    <div class="main__registration">
        {% include 'frontend/components/registration-page/registration-page.twig' %}
    </div>
    <div class="main__advantages">
        {% include 'frontend/components/company-advantages/company-advantages.twig' %}
    </div>

{% endblock %}
