<div class="news_calendar">
    <div class="block_title">
        <div class="name">Архив<div></div></div>
        <div class="clear"></div>
    </div>
    <div class="data">
        {{ news_calendar|raw }}
    </div>
</div>