{% extends "manager/global.html.twig" %}
{% block content %}

    <div class="actions">
        <a class="btn btn-success" href="{{ global.base_url }}/manager/sprav/{{ variables.sprav.sprav_id }}/add/">Добавить</a>
    </div>

    <div class="table_data">
        <div class="table_data_navigation">
            {% include 'parts/paging.html.twig' %}
        </div>
        <table class="table_bordered table_striped">
            <thead>
            <tr>
                <th style="width: 100px">ID</th>
                <th style="width: 100px">Статус</th>
                <th style="width: 50px">Иконка</th>
                <th>Название</th>
                <th>Значение</th>
                <th>URL</th>
                <th class="action_button_3"></th>
            </tr>
            <tr>
                <th><input data-name="svid" data-type="filter_value" min="0" type="text"></th>
                <th>
                    <select data-name="svid_status" data-type="filter_value">
                        <option value="-1">Все</option>
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                </th>
                <th></th>
                <th><input data-name="svid_title" data-type="filter_value" type="text"></th>
                <th></th>
                <th></th>
                <th class="action_button"></th>
            </tr>
            </thead>
            <tbody class="table_content">
            {% include 'sprav/manage/sprav_values_table.twig' %}
            </tbody>
        </table>
    </div>
{% endblock %}
