.page404__content{
  text-align: center;
}
.page404__title{
  font-size: 36px;
  font-family: $font-family__secondary;
  font-weight: 700;
  margin-bottom: 30px;
}
.page404__button{
  width: 250px;
  margin: 30px auto;
  color: white;
  a{
    color: white;
  }
}