{% extends "global.html.twig" %}
{% block meta %}

{% endblock %}
{% block content %}
    {% import "frontend/elements/svg/svg_macros.twig" as Svg %}
    <div class="page404">
        <div class="page404__inner">
            <div class="container">
                <div class="page404__wrapper">
                    ОШИБКА <b>404</b>
                </div>
                <div class="page404__content">
                    <div class="page404__title">Страница не найдена!</div>
                    <div class="page404__descr">Возможно эта страница удалена.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
