{% extends "global.html.twig" %}
{% block content %}

    <div class="block_item bg_dark1">
        <div class="block_item__title">
            Давай познакомимся
        </div>
        <div class="block_item__before"></div>
        <div class="block_item__content">
            <div class="block_item__content__text">
                {{ company.company_text|raw }}
            </div>
        </div>

    </div>
{% endblock %}
