{% extends "global.html.twig" %}
{% block content %}
  <div class="pt">
    <div class="container">
      {% include 'frontend/components/faq-block/faq-block.twig' %}
    </div>
  </div>
  <div class="ptb">
    {% include 'frontend/components/screen-callback/screen-callback.twig' %}
  </div>
{% endblock %}
