{% import 'frontend/elements/input/input_macro.twig' as Input %}
{% extends "global.html.twig" %}
{% block content %}

<div class="block_item bg_dark1">
    <div class="block_item__content">
        <div class="container">
            <div class="form">
                <div class="help">
                    <input type="hidden" class="element" name="action" value="help_need">
                    <div class="help_left">
                        <div class="help_input">
                            {{ Input.field('name', {
                                label: 'Имя',
                                dop_class:'element',
                                parent_mod:2,
                                placeholder:'Вас зовут',

                            }) }}
                        </div>

                        <div class="help_input">
                            {{ Input.field('email', {
                                label: 'Email(по которому зарегистрирован аккаунт)',
                                dop_class:'element',
                                parent_mod:2,
                                placeholder:'example@mail.ru',

                            }) }}
                        </div>

                        <div class="help_input">
                            {{ Input.field('type', {
                                label: 'Тема обращения',
                                dop_class:'element',
                                parent_mod:2,
                                placeholder:'Выбрать',

                            }) }}
                        </div>
                    </div>
                    <div class="help_right">
                        <div class="field field_2 ">
                            <span class="field__label">Вопрос</span>
                            <textarea class="field__input element"  name="comment"></textarea>

                        </div>

                    </div>
                </div>
                <div class="help_button">
                    <div class="cart_info_button help_button submit">
                        <div class="cart_info_button_title ">Отправить</div>
                    </div>
                </div>

            </div>
        </div>

        {% endblock %}
