@import '../../../../source/src/css/frontend/helpers/variables';
@import '../../../../source/src/css/frontend/helpers/config';
@import '../../../../source/src/css/frontend/helpers/mixins';
@import '../../../../source/src/css/frontend/elements/placeholders';

#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999999999999;
    padding: 8px 14px;
    background-color: $color__gray--4;
    width: 100%;
    max-width: 372px;
    @extend %flex-center-between;
    min-height: 40px;
    border-radius: 40px;
    -webkit-tap-highlight-color:transparent;

    * {
        -webkit-tap-highlight-color:transparent;
    }
}

#notification .content {
    @extend %flex-center-between;
}

#notification .text {
    font-size: 14px;
    line-height: 1.15;
    color: $color__light;
    margin-left: 8px;
}

#notification .icon {
    @include size(24px);
    flex: 0 0 24px;

    svg * {
        fill: $color__light;
    }
}

#notification .close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24px;
    @include size(24px);
    float: right;
    cursor: pointer;
    margin-left: 8px;
}

#notification.message{
    background-color: $color__success;
}

#notification.decline {
    color: $color__light;
}

#notification.wait {
    background-color: $color__warning;
}

#notification.error, .inline_notification.error {
    background-color: #F44336;
}

#notification.success {
    background-color: #4CAF50;
}

.inline-notification {
    border-radius: 8px;
    @extend %flex-middle;
    padding: 11px 16px;
    &__icon {
        @include size(24px);
        flex: 0 0 24px;
        margin-right: 10px;
    }

    &__text {
        color: $color__light;

        strong {
            font-weight: bold;
        }
    }

    &_wait {
        background-color: $color__warning;
    }
}
