$btn-color-white: #fff;
$btn-color-black: #364052;
$btn-bg-red: #e14c45;
$btn-bg-red-dark: #d02a22;
$btn-bg-grey-light: #e8e9ea;
$btn-bg-grey: #d2d4d6;
$btn-width-small: 132px;
$btn-width-large: 170px;
$btn-height-small: 36px;
$btn-height-large: 46px;
$btn-icon-width: 20px;
