.theme_title {
  font-family: $font-family__secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 100%;
  color: #FFFFFF;

  h3 {
    font-weight: bold;
  }


}

.theme_desc {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;

  @include media("<1010px"){
    font-size: 13px;
  }
  line-height: 150%;
  color: #FFFFFF;
  padding: 40px 0;

}

.theme_main_video {
  $root: &;
  cursor: pointer;
  width: 690px;
  overflow: hidden;
  height: 480px;
  background: #1F2128;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  @include media("<1200px"){
    width: 600px;
    height: 400px;
  }
  @include media("<1010px"){
    width: 500px;
    height: 350px;
  }
  @include media("<850px"){
    width: 400px;
    height: 250px;
  }
  &:hover {
    box-shadow: 0 0 20px rgba(242, 132, 2, 0.5);
  }

  &_checkbox {
    position: absolute;
    opacity: 0;
    z-index: 0;

    &:checked {
      & + #{$root}  {
        box-shadow: 0 0 0 2px #F28402;
        #{$root}_check{
          display: block;
        }
      }
    }

  }
  &_check{
    position: absolute;
    right: 15px;
    width: 20px;
    display: none;
    height: 20px;
    bottom: 15px;
  }
  &_top {
    overflow: hidden;
    flex: 75%;

    &_image {
      height: 100%;

      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_bottom {
    padding: 15px;
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: space-between;

    &_title {
      font-family: $font-family__secondary;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
    }

    &_desc {
      font-size: 12px;
      line-height: 150%;
      color: #FFFFFF;
      //padding: 7px 0;
    }

    &_price {
      font-weight: bold;
      font-size: 16px;
      line-height: 130%;
      /* or 13px */


      color: #F28402;

    }
  }
}

.theme_videos {
  padding: 50px 0;
  margin: -15px -30px;
  @include media('<850px'){
    margin: 0;
  }

  &_block {
    &_title {
      font-weight: bold;
      font-size: 45px;
      line-height: 100%;
      font-family: $font-family__secondary;
      color: #FFFFFF;
      padding-top: 60px;
      @include media('<1010px'){

        font-size: 36px;
      }
      @include media('<850px'){

        font-size: 34px;
      }
    }
  }
}

.video_item {
  $root: &;
  cursor: pointer;
  width: 190px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;

  background: #1F2128;
  display: flex;
  flex-direction: column;

  @include media("<1010px"){
    width: 150px;
    height: 200px;
  }
  &:hover {
    box-shadow: 0 0 20px rgba(242, 132, 2, 0.5);
  }

  &_checkbox {
    position: absolute;
    opacity: 0;

    &:checked {
      & + #{$root} {
        box-shadow: 0 0 0 2px #F28402;
        #{$root}_check{
          display: block;
        }
      }

    }
  }
  &_check{
    position: absolute;
    right: 15px;
    width: 20px;
    display: none;
    height: 20px;
    bottom: 15px;
  }

  &_top {
    flex: 45%;
    overflow: hidden;
  }

  &_bottom {
    flex: 55%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_title {
    font-family: $font-family__secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
  }

  &_desc {
    padding-top: 5px;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;

    @include media("<1010px"){
      display: none;
    }
  }

  &_price {
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #F28402;
  }

  &_space {
    padding: 15px 30px;
    @include media("<1200px"){
      padding:10px;
    }
  }
}