{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="video_item_space js_select_video">
    <input type="checkbox" class="video_item_checkbox js_select_video_checkbox">
    <div class="video_item ">
        <div class="video_item_top">
            <div class="video_item_top_image">
                <img src="/assets/images/static/way2.jpg" alt="">
            </div>
        </div>
        <div class="video_item_bottom">
            <div class="video_item_bottom_heads">
                <h4 class="video_item_title">Название видео</h4>
                <div class="video_item_desc">Описание видеоролика про то, как перетягивали
                    салон в автомобиле
                </div>
            </div>
            <div class="video_item_price">500 рублей
            </div>
            <div class="video_item_check">{{ Svg.icon('check', 1, 20,20) }}</div>
        </div>
    </div>
</div>