<div class="block_item bg_dark1">
    <div class="block_item__title">
        О курсах
    </div>
    <div class="block_item__before"></div>
    <div class="block_item__content">
        <div class="block_item__content__text">
        <p>
            Мы постарались собрать все свои накопленные знания и опыт в видеоархив. В каждом курсе добавили общее
            бесплатное видео, в котором: разбираем каждый этап работы, подбор оборудования и материала, все нюансы, как
            избежать частые ошибки и сосредоточиться на качестве и скорости работы.
        </p>
        <p>
            Все тарифы включают в себя разное количество видеоуроков. Нужные вам ролики вы сможете выбрать из видеотеки
            сразу после покупки или в любой момент, пока действует подписка.
        </p>
        <p>
            Максимум сути и никакой воды. Любой желающий с нуля сможет научиться самостоятельной работе и развить себя
            как мастера, либо открыть свой собственный бизнес.
        </p>
        </div>
    </div>

</div>