<div class="block_item bg_dark1">
    <div class="block_item__title">
        {{ about_course.about_course_title }}
    </div>
    <div class="block_item__before"></div>
    <div class="block_item__content">
        <div class="block_item__content__text">
        {{ about_course.about_course_text|raw }}
        </div>
    </div>

</div>