<div class="container">
<div class="ways_list">

    {% for item in catalog %}
        <div class="ways_list__item ">
        {% include 'frontend/components/ways/way_item.twig'%}</div>
    {% endfor %}
</div>
</div>