{% extends "global_raw.html.twig" %}
{% block global_content %}

  <div class="wrapper" id="main-container">
    <div class="wrapper_top">
      {% include 'frontend/components/header/header.twig' %}
      {% if global.error404 or global.error401 or is_home %}
      {% else %}
{#        <div class="wrapper__top-sub">#}
{#          {% include 'frontend/components/category-head/category-head.twig' %}#}
{#        </div>#}
      {% endif %}
    </div>
    <div class="wrapper__main">
      <main class="main">
        {% block content %}{% endblock %}
        {% if global.seo_text %}

        {% endif %}
      </main>

    </div>
    <div class="wrapper__bottom">
      {% include 'frontend/sections/footer/footer.twig' %}
    </div>
  </div>

 {#{% if not global.cookie['mes_cookie'] %} #}
    {# {% include 'frontend/components/cookie-message/cookie-message.twig' %}#}
    {# {% endif %}#}
{% endblock %}
