{% extends "manager/global.html.twig" %}
{% block content %}
  <div class="form">
    <div class="fields">

      <div class="line">
        <div class="label required">
          Название:
        </div>
        <div class="value">
          <input name="title" class="element required translit_from" type="text"  maxlength="250"  value="{{ info.cs_group_name }}">
        </div>
      </div>

        <div class="line">
            <div class="label required">
                Ключ:
            </div>
            <div class="value">
                <input name="key" class="element required translit_to" type="text"  maxlength="250"  value="{{ info.cs_group_key }}">
            </div>
        </div>

      {% if edit==1 %}
        <input type="hidden" class="element" name="action" value="process_edit">
        <input type="hidden" class="element" name="id" value="{{ info.cs_group_id }}">
      {% else %}
        <input type="hidden" class="element" name="action" value="process_add">
      {% endif %}
    </div>
    <div class="line">
      <div class="label">
        Активирован:
      </div>
      <div class="value">
        <input name="status" class="element" type="checkbox" {% if info.cs_group_status or edit!=1%}checked="checked"{% endif %}>
      </div>
    </div>
    <div class="submit btn btn-primary">
      {% if edit==1 %}
        Сохранить
      {% else %}
        Добавить
      {% endif %}
    </div>
  </div>
{% endblock %}
